---
layout: home
header: 
  overlay_color: "#022D21"
  overlay_filter: "0.75"
  overlay_image: /assets/images/header.jpg
  actions:
  #  - label: "Let's Connect!"
      url: "https://github.com/mmistakes/minimal-mistakes/"
  caption: "Photo credit: [Bravo Foto](https://bravofoto.ca/)"
excerpt: "Change is inevitable. Transformation is intentional."
intro: 
  - title: "Start Where You're Ready"
    excerpt: "We help leaders of all kinds achieve sustainable, collective, liberatory change by examining and working with their own capacity and needs so they can effectively engage the people who matter most."
feature_row:
  - image_path: assets/images/JourneyBackCover_ColourNoText.png
    alt: "Journey Back cover"
    title: "Journey Back"
    excerpt: "Journey Back was inspired by wondering what it could look like if we stripped away the impact of the “hero’s journey” and focused on the magic that was already there.  
<br><br>
      *Journey Back is a solo journaling role playing game (RPG). Not sure what that means? Think of it like a guided journal.*"
    url: "https://rachelberdan.itch.io/journey-back"
    btn_label: "Buy Now"
    btn_class: "btn--primary"
  - image_path: /assets/images/Leadership Coaching.jpg
    image_caption: "Photo credit: [Bravo Foto](https://bravofoto.ca/)"
    alt: "Rachel Landry Berdan seated on a couch"
    title: "Leadership Coaching"
    excerpt: "Are you a new or emerging leader trying to find your footing? An established leader implementing something new or getting ready for a change of your own?<br>
    <br>
    Monthly 1-on-1 coaching helps you get clear on where you want to go, learn to trust your instincts and bring others onboard, and get out of your own way.<br>
    <br>
    *Topics include: aligning teams / collectives, leading change, embedding sustainability (human, financial, structural), navigating conflict.*"
    url: "https://calendar.proton.me/bookings#mOLUxryJub_bMJWNTZRlM8S3aTWbR_CzdK7LZNFbhM0="
    btn_label: "Book Intake"
    btn_class: "btn--primary"
  - overlay_color: "#022D21"
    overlay_filter: "0.75"
    image_path: /assets/images/Purpose-Built Projects.jpg
    image_caption: "Photo credit: [Bravo Foto](https://bravofoto.ca/)"
    title: "Purpose-Built Projects"
    subtitle: "Custom pricing"
    excerpt: "Every project, organization, product or service has a purpose. Between the Tracks Consulting & Coaching helps you deliver on yours. <br>
    <br>
    Together, we’ll define what success looks like, what’s serving you, what’s stuck, and what’s next. We work with Appreciative Inquiry and the power of possibility. We ground in sustainability (human, financial, and structural) and anti-oppression to create productive paths forward.<br>
    <br>
    *Services include: strategic planning, collaborative project development, team alignment workshops, change management, impact measurement, and more.*"
    url: "https://calendar.proton.me/bookings#wbOdMb3-J2vTLr8E8kFWeUb-3CJ1CNSuT_uqKPXzKz4="
    btn_label: "Get Quote"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/About BTT.jpg
    image_caption: "Photo credit: [Bravo Foto](https://bravofoto.ca/)"
    alt: "Laptop with hands on keyboard, a cup of tea, and stacks of books nearby"
    title: "About Between the Tracks"
    excerpt: "We’re called Between the Tracks for two reasons. 

    Much of founder Rachel Landry Berdan's life takes place between two sets of train tracks in the place that is now colonially known as London, Ontario. Place is one way of building and experiencing community, and community development is both a value and a competency of Between the Tracks.<br>
    <br>
    Between the Tracks is a product of a constellation of professional and community experiences in the liminal space between where people, organizations, and systems are and where they need or want to be. Between the Tracks is grounded in facilitating the internal and collective change required to get there, inspired by the way grassroots and place-based community work can create meaningful and sustainable change, and adept at connecting the dots between those groups and systems rather than necessarily trying to **scale up** but rather considering growth by way of **sharing across** and **deepening impact**."
feature_row3:
  - image_path: /assets/images/Rachel Bio Headshot.png
    image_caption: "Photo credit: [Bravo Foto](https://bravofoto.ca/)"
    alt: "Rachel Landry Berdan leaning on a wall and holding books."
    title: "About Rachel Landry Berdan"
    excerpt: "I am an award-winning impact leader with the heart of an activist and the mind of a pragmatist. I meet people where they are to facilitate transformational change at systems, organizational, team, and individual levels. I bring deep systems analysis and an anti-oppressive lens to my work, challenging and re-framing assumptions to move beyond the status quo. I have spent the last decade working toward transforming capitalism through social enterprise, social finance, and culture change rooted in community care.
    <br><br>

    I have worked with organizations to establish shared leadership, distributed accountability, self-management principles, and deeper commitments to psychological safety. I am skilled at connecting systems transformation initiatives and strategic priorities in a way that is actionable, as well as bringing clarity to complex situations. I excel at building and nurturing intentional and mutually beneficial relationships. I have strong facilitation skills that support collaborative partnerships, team development, and navigating challenging situations from change to conflict.
  <br><br>
    I hold an MA in Global Leadership from Royal Roads University. I treat leadership as a verb—not a noun and not a title—and continue to engage in reflective practice to develop myself and my work."

  

author_profile: false
---
{% include feature_row id="intro" type="center" %}

{% include feature_row %}

{% include feature_row id="feature_row2" type="right" %}

{% include feature_row id="feature_row3" type="left" %}

